<% layout("/layouts/boilerplate") %>

<style>
  a{
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
</style>

<div class="row">
  <div class="alert alert-danger col-10 mx-auto " role="alert">
    <h6><%= err.message %></h6>
  </div>

    <a href="/listings">Go To Home</a>

</div>
